
.div1 {
    width: 40%;
    height : 40%;
    background-color: blue;
    border : 1px solid white;
}
.div2 {
    width: 40%;
    height : 40%;
    background-color: blue;border: 1px solid white;

}
.div3 {
    width: 40%;
    height : 40%;
    background-color: blue;border: 1px solid white;

}
.div4 {
    width: 40%;
    height : 40%;
    background-color: blue;border: 1px solid white;
}