.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.header {
  flex: 0 0 60px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background: #007bff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  width: 100% !important;
  box-sizing: border-box ;
  position: fixed;
  z-index: 100;
}
.selector {
  flex: 0 0 15%;
  margin-top: 20vh;
  margin-left: 10px;
}

.selectorLegend {
  font-size: x-large !important;
  font-family: -webkit-body !important;
  color: black !important;
  margin-bottom: 20px !important;
}

.board {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  position: relative;
}
.proposalBoard {
  flex-grow: 1;
  padding: 30px;
  display: flex;
  flex-direction: row;
  border-left: 2px dotted #007bff;
  margin-top: 54px;
  /* z-index: 1; */
}
.subboard1 {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  /* display: grid;
    grid-template-rows: 7fr 3fr;
    grid-gap: 20px; */
}
.proposal {
  flex-grow: 1;
  background-color: white;
  border-radius: 24px;
  position: relative;
  border-color: #007bff;
  border: 1px dotted #007bff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.quote-bg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.quote {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, calc(-50% - 20px));
  background-color: #007bff;
  height: calc(100% - 90px);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 50px rgba(255, 255, 255, 0.5);
  color: white;
  z-index: 101;
}
.quote::after {
  content: '';
  position: absolute;
  right: -7px;
  bottom: -62px;
  width: 80px;
  height: 80px;
  background-image: url(../../assets/arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotateY(180deg);
}
.subboard2 {
  flex: 0 0 40%;
  color: white;
  margin-left: 20px;
  display: flex;
}
.footer {
  flex: 0 0 50px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background: #007bff;
  display: flex;
  align-items: center;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: larger;
  color: white;
  font-family: none;
  width: 100% !important;

}
.footerLogo {
  height: 50%;
}

.MuiRadio-colorSecondary.Mui-checked {
  color: #007bff !important;
}

.walletConnect {
  padding: 6px;
  box-shadow: 0 0 5px rgba(3, 6, 56, 0.377);
  color: white;
  cursor: pointer;
  font-size: x-large;
  font-family: none;
  border-radius: 12px;
}

.toggleMenu {
  padding: 6px;
  /* box-shadow: 0 0 5px rgba(3, 6, 56, 0.377); */
  color: white;
  cursor: pointer;
  font-size: large;
  font-family: none;
  border-radius: 12px;
  margin-right: 20px;
}

.submitButton {
  margin-top: 0px !important;
  margin-bottom: 12px !important;
  width: 120px !important;
  height: 32px;
}
.proposalGridLow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 24px;
  width: 100%;
}

.proposalInput {
  width: 30%;
  margin-right: 12px !important;
  margin-left: 12px !important;
}
.proposalHeading {
  font-family: emoji;
  font-size: xx-large;
  margin-top: 36px;
  padding-bottom: 36px !important;
}
.MuiButton-label {
  font-size: large !important;
}
.MuiSvgIcon-root {
  font-size: large !important;
}

.tipTable {
  maxwidth: 700;
}

.proposalTemplateHeading {
  font-family: emoji;
  font-size: x-large;
  margin-top: 50px;
  margin-bottom: 30px;
}

.proposalConstraintHeading {
  font-family: emoji;
  font-size: x-large;
  margin-top: 36px;
  margin-bottom: 12px;
  color: white;
}
.constraintsList {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.bigButton button {
  width:180px !important;
  font-size: +40px !important;
  height: 50px !important;
  margin-top: 80px !important;
}
.smallButton button {
  width: 180px !important;
  margin-top: 30px !important;
  margin-bottom: 18px !important;

  /* font-size: +40px !important;
  height: 50px !important; */
}
